.title {
    font-family: 'Great Vibes', cursive;
    text-shadow: 3px 3px 5px black;
    font-size: 3em;
}

.header-img {
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.089), rgba(0, 0, 0, 0.192)), url('../pictures/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}


.main-title {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size: 3em;
}

.bg-main {
    background-color: rgb(228, 228, 228);
}

.wd {
    width: 90%;
}